.c-preloader {
  display: none;
  @include cover;
  z-index: 12;
  &__wrapper {
    @include cover;
    display: grid;
    padding: max(24px, 4rem);
    background: #272727;
    color: #f2f2f2;

    & > * {
      grid-area: 1/1;
    }
  }

  &__text {
    place-self: center;
  }

  &__progress {
    place-self: end;
    font-size: 6rem;
    font-weight: 400;
  }
}
