%page {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  min-height: 100%;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition:
    opacity 0.35s ease,
    visibility 0.35s ease;

  z-index: auto;

  &.is-active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: z("content");
  }
}
