// flexbox
@mixin flex($justify: flex-start, $align: flex-start, $flow: row wrap) {
  flex-flow: $flow;
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

// Mixins and Extends

@mixin cover() {
  position: absolute;
  object-fit: cover;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

@mixin container() {
  width: 100%;
  padding-left: 6rem;
  padding-right: 6rem;
  @include media("<=tablet") {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@mixin abs-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

@mixin hide() {
  visibility: hidden;
  opacity: 0;
}

@mixin show() {
  visibility: visible;
  opacity: 1;
}
