.home
  .home__wrapper.o-wrapper
    .home__main
      .home__main__wrapper.o-wrapper
        h1(data-animation="title") Ibere - The Beginning
        
        p(data-animation="paragraph") This is our vanilla javascript boilerplate for creative projects. It is of three variants.
          ul
            li Light (you are here)