.home
  .home__wrapper
    .home__nav 
      .nav__left
        a(href="about") Work
        span Visual Designer
      .nav__right
        a(href="work") About

    .home__main
      h1(data-animation="title") Hello 
      
      p(data-animation="paragraph") Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex tenetur vel quas, eligendi, illo exercitationem ipsam voluptatum necessitatibus repellendus unde sit sapiente aperiam. Accusamus voluptatum beatae perferendis quo enim debitis.

      div(data-animation="paragraph") Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex tenetur vel quas, eligendi, illo exercitationem ipsam voluptatum necessitatibus repellendus unde sit sapiente aperiam. Accusamus voluptatum beatae perferendis quo enim debitis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex tenetur vel quas, eligendi, illo exercitationem ipsam voluptatum necessitatibus repellendus unde sit sapiente aperiam. Accusamus voluptatum beatae perferendis quo enim debitis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex tenetur vel quas, eligendi, illo exercitationem ipsam voluptatum necessitatibus repellendus unde sit sapiente aperiam. Accusamus voluptatum beatae perferendis quo enim debitis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex tenetur vel quas, eligendi, illo exercitationem ipsam voluptatum necessitatibus repellendus unde sit sapiente aperiam. Accusamus voluptatum beatae perferendis quo enim debitis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex tenetur vel quas, eligendi, illo exercitationem ipsam voluptatum necessitatibus repellendus unde sit sapiente aperiam. Accusamus voluptatum beatae perferendis quo enim debitis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex tenetur vel quas, eligendi, illo exercitationem ipsam voluptatum necessitatibus repellendus unde sit sapiente aperiam. Accusamus voluptatum beatae perferendis quo enim debitis.

      .gallery
        .gallery__wrapper
          .gallery__item
          .gallery__item 
          .gallery__item