.home {
  @extend %page;

  &__wrapper {
    @include container;
    @include flex($align: stretch, $flow: column nowrap);

    min-height: calc(100 * var(--vh, 1dvh));
    height: 300vh;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    padding-block: 2rem;

    & > * {
      flex: 1;
      display: flex;
      justify-content: space-between;
    }

    .nav__right {
      justify-content: end;
    }
  }

  &__main {
    margin-top: 2rem;

    h1 {
      font-size: 9.6rem;
      font-style: italic;
      font-size: 700;
    }

    [data-animation="paragraph"] {
      margin-top: 1rem;
    }
  }
}
